<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      flashlight
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Flashlight</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-footer>

  <ion-footer>
    <ion-toolbar>
      <ion-button (click)="doOn()">On</ion-button>
      <ion-button (click)="doOff()">Off</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-footer>
